{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"  type='text/css/' href="{{ url_for('static', filename='bootstrap-responsive.css') }}" />
    <link rel="stylesheet" type='text/css/' href="{{ url_for('static', filename='bootstrap.css') }}" / >
    <link rel="stylesheet" type='text/css/' href="{{ url_for('static', filename='style.css') }}" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}

